@{ 
    Layout = null;
}


<table class="table">
    <tr>
        <th><h2>particulars</h2></th>
        <th><h2>Total Amount</h2></th>
    </tr>
    <tr>
        <td><h2>Advances</h2></td>
        <td><h2>@Html.Partial("_Advances")</h2></td>
        <td><h2>@Html.ActionLink("Details", "Create")</h2></td>
    </tr>
</table>