@*@model IEnumerable<PMWelfare.Models.Subscription>

<table>
    @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
            </tr>
        }
    </table>*@