@model IEnumerable<PMWelfare.Models.Subscription>

@{
    ViewBag.Title = "Arrears";
    Layout = null;
}
<head>
    <title>Arrears</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<h2 style="text-align:center;">Arrears</h2>

<table class="table" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>

    </tr class=”success”>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.UserName)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Amount)
            </th>


        </tr>
    }

</table>

