<div>
        <div class="panel panel-default text-left">
            <div class="panelheaderRed">
                <h2>Current Advances</h2>
                @ViewBag.Advances
            </div>
            <div class="panel-body">
                <div id="dvHomeRecentPostBind">
                    <div class="loaderCenter">
                        

                       
                    </div>
                </div>
            </div>
        </div>
    </div>
