
<div>
    <div class="panel panel-default text-left">
        <div class="panelheaderRed">
            <h2>Total Expenses</h2>
        </div>
        <div class="panel-body">
            <div id="dvHomeRecentPostBind">
                <div class="loaderCenter">
                    @ViewBag.TotalExpenses
                </div>
            </div>
        </div>
    </div>
</div>