@model IEnumerable<PMWelfare.Models.expens>

<table>
    <tr>
        <th>
            <h1>Total events in the Month &nbsp;&nbsp;&nbsp;:</h1>
        </th>

        <th>
            <h1>
                @ViewBag.total
            </h1>
        </th>
    </tr>
    <tr>
        <th>
            <h1>Distinct events &nbsp;&nbsp;&nbsp;:</h1>
        </th>

            <th>
                <h1>
                    @ViewBag.total
                </h1>
            </th>
        </tr>
</table>