@model PMWelfare.Models.deposit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>deposit</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>
        </dl>
</div>