@model IEnumerable<PMWelfare.Models.Subscription>


@{
    ViewBag.Title = "Index";
}

<h2>Summary of previous month</h2>
<table class="table row-no">


    <tr>@{Html.RenderAction("Advances", "Subscriptions");}</tr>  

</table>



