@model IEnumerable<PMWelfare.Models.Subscription>


@{
    ViewBag.Title = "Index";
}

<h2>Summary of previous month</h2>
<table class="table">
    <tr class=" active">
        <th>
            <h2 class="">
                Particulars
            </h2>
        </th>
        <th>
            <h2>
                Amount
            </h2>
        </th>
    </tr>
    <tr>
        <td>
            <h2>
                Cash At Hand
            </h2>
        </td>
        <td>
            <h2>
                @{Html.RenderAction("CashAtHand", "Deposits");}
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <h2>
                Total Collections
            </h2>
        </td>
        <td>
            <h2>
                @{Html.RenderAction("TotalCollection", "Deposits");}
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <h2>
                Advance Collections
            </h2>
        </td>
        <td>
            <h2>
                @{Html.RenderAction("Advances", "Subscriptions");}
            </h2>
        </td>
    </tr>

    <tr>
        <td>
            <h2>
                Total Expenditure
            </h2>
        </td>
        <td>
            <h2>
                @{Html.RenderAction("TotalExpense", "Expenses");}
            </h2>
        </td>
    </tr>
        <tr>
        <td>
            <h2>
                Cash At Hand 
            </h2>
        </td>
        <td>
            <h2>
                @{Html.RenderAction("Totalevents", "Celebrations");}
            </h2>
        </td>
    </tr>

</table>



