
@using PMWelfare.Models

@model Upload

<h2>Index</h2>

@using (Html.BeginForm("ImportExcel", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr> <td> File: </td> <td> <input type="file" name="UploadedFile" /> </td> </tr>
        <tr><td>@Html.DropDownListFor(model => model.SelectedTable, 
               new SelectList(Enum.GetValues(typeof(TableName))),"Select File To Upload", 
               htmlAttributes: new { @class = "form-control" })</td></tr>
        <tr> <td colspan="2"> <input type="submit" name="Submit" value="Submit" /> </td> </tr>
    </table>
}