@model PMWelfare.Models.Expense

@{
                /**/

                ViewBag.Title = "Monthly";
}

<h2>Monthly</h2>
<div>
    <div class="panel panel-default text-left">
        <div class="panelheaderRed">
            Recent Articles
        </div>
        <div class="panel-body">
            <div id="dvHomeRecentPostBind">
                <div class="loaderCenter">
                    <span class="loadingText">Recent Articles Loading....</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="panel panel-default text-left">
        <div class="panelheaderGreen">
            Popular Articles
        </div>
        <div class="panel-body">
            <div id="dvHomePopularPostBind">
                <div class="loaderCenter">
                    <span class="loadingText">Popular Articles Loading....</span>
                </div>
            </div>
        </div>
    </div>
</div>
    }

<script>
    function LoadHomeRecentPost()
    {
        $.ajax
        ({
            url: "/Expenses/MonthlyExpenses",
            contentType: "application/html; charset=utf-8",
            type: "GET",
            cache: !0,
            datatype: "html",
            success: function(t)
            {
                $("#dvHomeRecentPostBind").html(t)
            },
            error: function()
            {
                $("#dvHomeRecentPostBind").html("Post Not Found")
            }
        })
    }
</script>
<script>
    $(document).ready(function () {
        LoadHomeRecentPost()
    });
</script>


